*{
    text-decoration: none;
    font-family: 'Roboto',"Noto Sans Myanmar UI",arial,sans-serif;
    box-sizing: border-box;             /*Adapting content to viewport borders */
}

h1 {             
    display: flex;
    justify-content: center;             /*h1 forces my logo to stay at flex-start even with justify-content:center set in parent container */

}

h1 img {
    width:3.5em;
}

h2 {
    font-weight: normal;
    font-size: 27px;
    text-align: center;                  /*forces h2 to play along with my world vision*/
    margin:0;                            /* NO MARGINS 😠 */
}

.middleFloat {
    display: flex;
    flex-direction: column;
    align-items: center;        /*Aligning sideways on the page */

    position: relative;          /*Aligning the card vertically, as flex-direction: column and justify-content won't allow me to center vertically for some reason*/
    top: 20vh;

}

.middleCard {
    border: #dadce0 solid 1px;
    border-radius: 0.4em;
    width: 30em;
    padding: 40px 40px 60px 40px;
}

#cardText p {
    color: rgb(95,99,104);
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 14px;
}

#cardText a, #cardMail2 a, #cardButtons a {
    color: rgb(26,115,232);
    font-weight: 500;
    font-size: 14px;
}

#cardTop {
    text-align: center;
}

#cardMail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    border: #dadce0 solid 1px;
    border-radius: 0.4em;
    width: 25em;
    height: 3.5em;
    padding-left:1em;
    margin: 0.8em;
    font-size: 16px;
}

#cardButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cardButtons .nextButton {
    font-weight: 500;
    font-size: 14px;
    background-color: rgb(26,115,232);
    color: white;
    padding: 0.8em 1.7em 0.8em 1.7em;
    border: hidden;
    border-radius: 0.4em;
}

#bottomWrapper {
    padding: 0em 1em 0em 1em;
}

.belowCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top:1em;
}

/* *************************************** CSS Only Dropdown Menu ***************************************************** */
.dropdownMenu {
    display: none;
    position: relative;
    top: -410px;
    padding: -410px 0 0 0;
    margin: 0;
    font-size: 12px;
}

.dropdownMenu:hover {
    display: block;
}

li{
    background: white;
    padding: 10px;
    width: 15em;
    list-style: none;           /* Removal of bullet points */
}

li:hover { 
    background: white;
    cursor: pointer;
}

.dropdownButton {
    display: inline-block;
    padding: 10px;
    color: black;
    font-size: 12px;
}

.dropdownWrapper {
    display: inline-block;
}

.links {
    font-size: 12px;
    margin-left: 3em;
}

.links a {
    color: black;
}

.dropdownWrapper:active ul {
    display: block;
} 

.dropdownWrapper:active ul:hover {
    display: block;
}

.dropdownWrapper:active #button {
    display: inline-block;
    padding: 10px;
    background: white;
    color: black;
}