/* ******************************** UNIVERSAL MODIFICATIONS *************************************** */

*{
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;             /*Adapting content to viewport borders */
    margin: 0;                          /* Always always always add this parameter to the universal selector in order not to see margins around the body and header by default. */
    height: auto;
}

a:link {
    text-decoration: none;              /* Saying goodbye forever to that pesky link underline */
}

body {
    background-color: #0f0f0f ;
    width: 100%;
}

.miscImage {
    width: 1.8em;
}

h2 {
    font-size : 14px;

    margin: 0;
    padding : 0;

    padding-left: 0.6em;
    margin-bottom: 0.5em;
}

/* **************************************** ASIDE ********************************************** */
/* **************************************** ASIDE ********************************************** */




/* *********************************BURGER BUTTON FUNCTIONNALITY******************************** */

#burgerLabel:focus {
    opacity: 0;
  }
  
  #burgerLabek:focus ~ main {
    margin-left: 17rem;
    transition-delay: .25s;
  }
  
  #burgerLabel:focus ~ .fullSidebar {
    left: 0;
    transition-delay: .25s;
  }
  

/* *************************************** FULL SIDEBAR **************************************** */

#fullSidebar {

    display:none;

    background-color:#0f0f0f;
    position: fixed;                /* Making sure the sidebar stays put */
    top: 5em;                       /* Not to be used alone */
    padding-bottom: 5em;            /* It is important to outset the sidebar with a bottom padding as using the "top" settting alone will skew height in regard to viewport and hide the bottom of the sidebar when height is set to 100% of viewport. */


    width: 15em;                    /* This width must be set to the same numer as the main's left margin */
    height: 100%;
    margin: 0 auto;

    /* *************CUSTOM SCROLLBAR ************** */

    overflow-y: hidden;             /*This hides the scrollbar until I hover over it */
    scrollbar-color: #717171 transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable;      /*This allow me to preallocate space for the scrollbar gutters and prevent nasty word-wrapping on hover. Another method would have been to make the scrollbar transparent by default and coloring it when hovered */
}

#fullSidebar:hover {
    overflow-y: auto;               /*This shows the scrollbar on hover */
}

.buttonList {
    border-top: solid 0.1em #3f3f3f;

    padding-bottom: 1em;

    padding-top: 1em;               /* Padding rather than margin in order to put space between the content and the top border. */
    padding-left: 1em;              /* Padding rather than margin to keep the top border top flush with the leftmost part of the screen */
    padding-right: 1em;
}

.buttonTopList {
    /*Purposefully ridding ourselves of the top margin */
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.buttonWrapper {
    border: hidden;
    border-radius: 0.5em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.buttonWrapper:hover {
    background-color: #272727;
}

.buttonWrapper:active {
    transition: 0.3s ease-in-out;    /* Replicating that light border blink on click */
    outline: solid rgba(255, 255, 255, 0.344) 1px;
}

.buttonWrapper a {
    /* text-decoration: none;   */
    display: flex;
    flex-direction: row;            /* Aligning the button description to the right of the icon */
    align-items: center;
}

.buttonWrapper a p {
    margin-left: 1.5em;
    font-size: 14px;
    white-space: nowrap;             /* white-space:nowrap disables wrapping so that the button's text stay on the one line */

    overflow: hidden;               /* Then, in order to show overflow ellipses, we first need to hide said overflow inside the box... */
    text-overflow: ellipsis;        /* ... Then specify how we want the text overflow to be handled. */
}

.buttonWrapper a img {
    width: 1.5em;
}

.filtered {
    filter: invert();                 /*To invert black png icons and make them white */
}

.loginSectionWrapper {
    border-top: solid 0.1em #3f3f3f;

    padding-bottom: 1em;
    padding-top: 1em;               
    padding-left: 2em;
    padding-right: 2em;
}

.loginBlurb {
    line-height: 18px;
    padding-bottom: 1em;
    font-size: 14px;
}

/* ********************************** COMPACT SIDEBAR ************************************* */

#compactSidebar {

    width: 7em;                     /* This width must be set to the same numer as the main's left margin */
    height: 100%;

    font-size: 10px;
    background-color:#0f0f0f;

    position: fixed;                /* Making sure the sidebar stays put */
    top: 5em;                       /* To be used with a bottom outset*/
    padding-bottom: 5em;            /* The aforementioned outset */
}

.compactButtonList {
    display: flex;
    flex-direction: column;

    padding:0.5em;
    
    text-align: center;            /*Centering the button labels and icons in the compactSidebar*/
}

.compactButtonWrapper {
    border: hidden;
    border-radius: 0.5em;

    padding-top:1.8em;
    padding-bottom: 1.8em;          /* Space between buttons */
}


.compactButtonWrapper:hover {
    background-color: #272727;
}

.compactButtonWrapper:active {
    transition: 0.3s ease-in-out;    /* Replicating that light border blink on click */
    outline: solid rgba(255, 255, 255, 0.344) 1px;
}

.compactImage {
    width: 2.5em;
}


/* ************************************ HEADER **********************************************/


header {
    position: fixed;                /* Affixing the header's position on scroll...*/
    top: 0;                         /*... to the top-leftmost part of the page*/
    width: 100%;                    /*Making the header stick to the left and right borders of the page */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;            /* Same as sidebar buttons left margin's combined total */
    padding-right: 1em;           /* Same as sidebar buttons left margin's combined total */

}

.headerSection {
    display: flex;
    align-items: center;
}

.headerSection1 p {                 /* Modifying "FR" paragraph after the logo */
    margin-top: 0;                  /* Nullifying the default top margin for <p> */      
    margin-bottom: 2em;             /* Enforcing a bigger-than-default bottom margin for <p> */
    font-size: 10px;
    color: #aaaaaa ;
}

.headerSection1 a h1 {
    line-height: 0;                 /* This removes the unoccupied space of the h1 line that normally appears below the logo */
}

.burgerImage {
    width:1.7em;
    line-height: 0;
    vertical-align: middle;         /* Enables the burger logo to be centered vertically in the button div */
}

.burgerButton {
    border: hidden;
    border-radius: 50%;
    padding: 3%;
    margin-right : 1.5em;
}

.burgerButton:hover  {
    background-color:rgba(255, 255, 255, 0.089);
}

.logo {
    width: 2.8em;
}

.searchBar {
    background-color: #121212;
    font-size: 16px;
    font-weight: 400;
    height: 2.5em;
    border: solid #303030 0.1em;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    min-width: 38vw;

}

.searchButton {
    background-color: #222222;
    height: 2.5em;
    width: 4em;         /* min-width could be used to prevent the search logo from being squished on zoom but it is broken of Firefox... */
    font-size: 16px;

    /* To make it look like the search bar and search button are fused together, I apply borders on the button everywhere except to the left of it. */
    border-top: solid #303030 0.1em;
    border-bottom: solid #303030 0.1em;
    border-right: solid #303030 0.1em;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;

    display: flex;                     
    justify-content: center;                     /* Centering the logo inside the searchButton div. */
}

#image {
    scale:0.6;                                   /* Using the width attribute would squish the image since the button and search bar have hard-coded heights*/ 
}

#kabobButton {
    margin-right: 1em;
    line-height: 0;                              /* Removing superflous space used up by empty <a> thus removing slight misalignment of items */

    padding: 4%;
    border-radius: 50%;
    transition: 0.3s ease-in-out;                /* Replicating that light border blink on click */
}

#kabobButton:active {
    border: solid rgba(255, 255, 255, 0.123) 1px;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 50%
}

.loginWrapper {
    border: 0.1em solid #303030;
    border-radius: 1.5em;

    width: 12em;                                    /* Hard-coding the width so the button won't change height with its contents wrapping */
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.6em;

    font-size: 13.5px;
    font-weight: bold;
}

.loginWrapper a {
    line-height: 0;                             /* This removes the unoccupied space of the a link below the log-in picture, thus fixing the alignment with the log-in text". */
 
    display: flex;                              /*Aligning loginWrapper's dual child divs together*/
    align-items: center;
    justify-content: center;
}

.loginWrapper a p {
    margin-left:0.5em;
    color: #3ea6ff;
}

.loginWrapper:hover {
    background-color: #263850;
}

.loginWrapper:active {
    transition: 0.3s ease-in-out;    /* Replicating that light border blink on click */
    outline: solid rgba(255, 255, 255, 0.344) 1px;
}

            /* ************************** CUSTOM TOOLTIPS ********************************************************* */

            #kabobButton p {
                display: none;
                background-color: #5f5e5fe3;
                color: white;
                padding: 20px;
                
                outline: hidden;
                border-radius: 0.3em;
            }

            #kabobButton:hover p {                          /* Daily reminder that I don't have to append the :hover pseudo-element to the very end of my lines, I can choose the element I want to use hover on, then act on a different one. */
                display: block;
                position: absolute;
                

                animation: fadeIn 0.3s ease-in-out;
            }

            .searchButton p {
                display: none;
                background-color: #5f5e5fe3;
                color: white;
                padding: 10px;
            }

            .searchButton:hover p {
                display: block;
                position: absolute;
                margin-top: 3em;
                border-radius: 0.3em;

                animation: fadeIn 0.3s ease-in-out;
                }

                @keyframes fadeIn {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }

/* *************************************** MAIN ***************************************** */

/* main {
    top : 4em; 
    right : 20em;    This must be equal to my aside's "top" value
} */

.tagButton {
    background-color: #272727;
    border-radius: 0.75em;                   /* To avoid button curvature discrepancy when using lengthier buttons, avoid using percentage (as it is relative to the button's length and height) and avoid vw percentage (as it is relative to the viewport width).*/
    border: none 0.1em;

    padding: 0.70em;
    font-weight:600;

    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-right: 0.75em;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /*  Three columns - 1fr = 150 px */
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.gridItem {
    border: hidden;
    border-radius:0.75em;                   /* Rounded border */
    overflow: none;                         /* Preventing child images from jutting out of this div */

    background: url(/resources/main/placeholderPNG.png);
    height: 480px;
    width: 640px;
    background-size:20em;

}

.gridItem:hover{
    background: url(/resources/main/placeholder.gif);
}

.gridItem img {
    width: 20em;
}

/* ***************************************************** """""FOOTER""""" ****************************************************************************** */

.footerSection1 {
    display: flex;
    text-align: start;
    margin-left: 1em;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}

.footerSection1 a {
    color: #aaaaaa;
    /* text-decoration: none; */
    display: flex;
    flex-direction: column;
}

.footerSection2 {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;

    margin-left: 1em;
    /* Avoiding right margins as it causes nasty text wrap upon hovering over the sidebar and the scroll bar appearing */
    margin-top: 1em;
}

.footerSection2 a {
    color: #aaaaaa;
    /* text-decoration: none; */
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.footerSection3 {
    font-weight: bold;

    margin-left: 1em;
    margin-top: 1em;
}

.footerSection3 p {
    color: #717171;
    font-size: 11px;
}